<?php

return array(
    'canariumcontactus' => array(
        // 'email_sender' => array(
        //     'email' => 'info@unarealidad.com',
        //     'name'  => 'UNA REALIDAD'
        // ),
        // 'email_admin'         => 'jethro.laviste@unarealidad.com',
        // 'email_subject'       => 'Thank you',
        // 'email_admin_subject' => 'Contact Us'
    )
);
