<?php

return array(
    'canariumcontactus' => array(
         'email_sender' => array(
             'email' => 'sometwo@something.com',
             'name'  => 'The name of the sender'
         ),
         'email_admin'         => 'someone@something.com',
         'email_subject'       => 'Thank you',
         'email_admin_subject' => 'Contact Us'
    )
);
